#home {
   background-color: #ffc107;
   color: white;
}

.caixa {
   padding: 60px 0px;
   border-bottom: 1px solid #e5e5e5;
}

footer p a {
   margin: 6px 10px
}

@media (max-width:576px) {
   #home h1{
      font-size: 200% !important;
      
   }
   #home p {
      font-size: 100% !important;
   } 

   footer p {
      display: flex;
      margin: 10px 0 !important;
   }

   footer p a {
      margin: 0px 6px;
      font-size: 90%;
   }

   .row div:nth-child(2) {
      display: none !important;
   }
}